{% extends 'flatpages/index.html' %}

{% load custom_filter2 %}
{% load custom_filter3 %}

{% block title %}
    NewsPortal
{% endblock title %}

{% block auth %}
    {% if user.is_authenticated %}
            <button onclick="window.location.href='http://localhost:8000/accounts/logout'">Logout</button>
    {% else %}
            <button onclick="window.location.href='http://localhost:8000/accounts/login'">Login</button>
    {% endif %}
{% endblock auth %}

{% block sub %}
    {% if user.is_authenticated %}
            <button onclick="window.location.href='http://localhost:8000/subscriptions'">Subscribe</button>
    {% endif %}
{% endblock sub %}

{% block content %}

    {% if new.article_or_news == "NW" %}
        <h1>{{ new.header|censor }}</h1>
        <hr>
        <h5>{{ new.datetime|post_time }}</h5>
        <h5>{{ new.text|censor }}</h5>
        <hr>
    {% else %}
        <h2>Нет новостей (👉ﾟヮﾟ)👉</h2>
    {% endif %}

{% endblock content %}