{% extends 'flatpages/index.html' %}

{% load custom_filter1 %}
{% load custom_filter2 %}
{% load custom_filter3 %}
{% load custom_tags %}

{% block title %}
    NewsPortal
{% endblock title %}

{% block auth %}
    {% if user.is_authenticated %}
            <button onclick="window.location.href='http://localhost:8000/accounts/logout'">Logout</button>
    {% else %}
            <button onclick="window.location.href='http://localhost:8000/accounts/login'">Login</button>
    {% endif %}
{% endblock auth %}

{% block sub %}
    {% if user.is_authenticated %}
            <button onclick="window.location.href='http://localhost:8000/subscriptions'">Subscribe</button>
    {% endif %}
{% endblock sub %}

{% block allpost %}
    {{info|length}}
{% endblock allpost %}

{% block content %}

    <hr>
    <form method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти"/>
    </form>
    <hr>
    <form action="/search">
        <input type="submit" value="Заново ?"/>
    </form>
    <hr>

    {% if info %}

        {% for i in info %}
                <table class="editorDemoTable" style="margin-left: auto; margin-right: auto;">
                    <tbody>
                        <tr>
                            <td><strong>Заголовок</strong></td>
                            <td><strong>Дата публикации</strong></td>
                            <td><strong>Содержание</strong></td>
                        </tr>
                        <tr>
                            <td>{{ i.header|censor|truncatechars:10 }}</td>
                            <td>{{ i.datetime|post_time }}</td>
                            <td><h5>{{ i.text|censor|truncatechars:20 }}</h5></td>
                        </tr>
                    </tbody>
                </table>
                <hr>
        {% endfor %}

    {% endif %}

    <span class="current">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_previous %}
        <a href="?{% url_replace page=1 %}"> &laquo;</a>
        <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
    {% endif %}

    {% if page_obj.has_next %}
        <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
        <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }} &raquo;</a>
    {% endif %}

{% endblock content %}