{% extends 'account/base.html' %}

{% block title %}
    Signup
{% endblock title %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Sing up">
    </form>
    <hr>
    <button onclick="window.location.href='http://localhost:8000/accounts/login/'">You have an account?</button>
    <hr>
    <button onclick="window.location.href='http://localhost:8000/accounts/yandex/login/?process=login'">Sing up with Yandex</button>
    <hr>
    <button onclick="window.location.href='http://localhost:8000/portal/'">Back to portal</button>
{% endblock content %}